 div {
    height: 350px;
    width: 100px;
    border-style:double;
 }
 .para1 {
    height:100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
 }
 .para3 {
    height:100px;
    width: 100px;
    border-radius: 50%;
    background-color: yellow;
 }
 .para4 {
    height:100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
 }
 h2{
    text-align: center;
 }